@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

/* ─────────────────────────────
   BASE RESET + THEME
───────────────────────────── */

:root {
  --primary-color: #db1717;
  --secondary-color: #131313;
  --bg-color: #e5e5e4;
}

body {
  font-family: var(--font-hind), sans-serif;
}

@layer components {
  .heading {
    @apply text-3xl leading-tight tracking-tight text-gray-700 sm:text-4xl;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #222;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}