@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

/* ─────────────────────────────
   BASE RESET + THEME
───────────────────────────── */

:root {
  --primary-color: #db1717;
  --secondary-color: #131313;
  --bg-color: #e5e5e4;
}

body {
  font-family: var(--font-hind), sans-serif;
}

/* ─────────────────────────────
   SCROLLBAR
───────────────────────────── */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #919090;
  border-radius: 10px;
}

/* ─────────────────────────────
   INPUT FOCUS
───────────────────────────── */

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgb(219 23 23 / 35%);
}

/* ─────────────────────────────
   SELECTION
───────────────────────────── */

::selection {
  background: var(--primary-color);
  color: #fff;
}


@layer components {
  .heading {
    @apply text-3xl leading-tight tracking-tight text-gray-700 sm:text-4xl;
  }
}